<!DOCTYPE html>
<!--
Title: home.html
@brief Server Homepage Template File
-->
<html>

<head>
        <meta name="description" content="Homepage for pi-vitrine server" />
        <meta http-equiv="author" content="Channing Ko-Madden" />
        <title>Homepage</title>
        <link href="/styles/output.css" type="text/css" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx-ext-path-params@2.0.0/path-params.js"></script>
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
</head>

<body>
	<h1 class="text-2xl font-semibold text-gray-800 text-center my-4">pi-vitrine</h1>
        <div class="grid grid-cols-2 gap-4">
		<div class="grid grid-rows-4 gap-4" hx-ext="path-params">
			<form class="grid grid-cols-3 search-container" hx-get="/device" hx-target="#device_info">
				<input type="submit" value="List All Devices" />
			</form>
			<form class="grid grid-cols-3 search-container" hx-get="/device/{get_name}" hx-include="[get_name='get_name']" hx-target="#device_info">
				<input type="submit" value="Get Device Info" />
				<input type="search" name="get_name" placeholder="Device name" minlength="1"
					required />
			</form>
			<form class="grid grid-cols-3 search-container" hx-post="/device" hx-target="#device_info">
				<input type="submit" value="Register device" />
				<input type="search" name="device_name" placeholder="Device name" minlength="1"
					required />
				<input type="search" name="device_location" placeholder="Device location"
					minlength="1" required />
			</form>
			<form class="grid grid-cols-3 search-container" hx-patch="/device/{patch_name}" hx-include="[patch_name='patch_name']" hx-target="#device_info">
				<input type="submit" value="Update device location" />
				<input type="search" name="patch_name" placeholder="Device name" minlength="1"
					required />
				<input type="search" name="device_location" placeholder="Device location"
					minlength="1" required />
			</form>
		</div> <!-- Inputs grid -->

		<div id="device_info"></div> <!-- Data display grid -->
	</div> <!-- Device part of UI -->
	<div class="h-2 sm:h-4 md:h-8"></div>
        <div class="display">
		<div class="grid grid-rows-2 gap-4" hx-ext="path-params">
			<form class="grid grid-cols-3 search-container" hx-get="/system/{device_name}" hx-include="[device_name='device_name']"
				hx-target="#system_data">
				<input type="submit" value="Get System Data" />
				<input type="search" name="device_name" placeholder="Device name"
					minlength="1" required />
				<input type="search" name="days" placeholder="Number of days" min=1
					required />
			</form>
			<form class="grid grid-cols-3 search-container" hx-get="/indoor_climate/{device_name}"
				hx-include="[device_name='device_name']" hx-target="#indoor_climate_fig">
				<input type="submit" value="Get Indoor Climate Data" />
				<input type="search" name="device_name" placeholder="Device name"
					minlength="1" required />
				<input type="search" name="days" placeholder="Number of days" min=1
					required />
			</form>
		</div> <!-- System data part of UI -->
		<div class="display">
			<div id="indoor_climate_fig"></div>
			<div id="system_data"></div>
		</div> <!-- Indoor Climate part of UI -->
	</div>
</body>

</html>
