<!DOCTYPE html>
<!--
Title: home.html
@brief Server Homepage Template File
-->
<html>

<head>
        <meta name="description" content="Homepage for pi-vitrine host" />
        <meta http-equiv="author" content="Channing Ko-Madden" />
        <title>Homepage</title>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx-ext-path-params@2.0.0/path-params.js"></script>
</head>

<body>
        <h1>pi-vitrine</h1>
        <div>
                <form hx-get="/device" hx-target="#device_info">
                        <input type="submit" value="List All Devices" />
                </form>
                <div hx-ext="path-params">
                        <form hx-get="/device/{name}" hx-include="[name='name']" hx-target="#device_info">
                                <input type="search" name="name" placeholder="Device name" minlength="1" required />
                                <input type="submit" value="Get Device Info" />
                        </form>
                </div>

                <form hx-post="/device" hx-target="#device_info">
                        <input type="search" name="device_name" placeholder="Device name" minlength="1" required />
                        <input type="submit" value="Register Device" />
                </form>

                <div id="device_info"></div>
        </div> <!-- Device part of UI -->

        <div>
                <form hx-get="/system" hx-target="#system_data">
                        <input type="search" name="device_name" placeholder="Device name" minlength="1" required />
                        <input type="submit" value="Get System Data" />
                </form>
                <div id="system_data"></div>
        </div> <!-- System data part of UI -->
</body>

</html>
