<!DOCTYPE html>
<!--
Title: home.html
@brief Server Homepage Template File
-->
<html>

<head>
        <meta name="description" content="Homepage for pi-vitrine server" />
        <meta http-equiv="author" content="Channing Ko-Madden" />
        <title>Homepage</title>
        <link href="/styles/home.css" type="text/css" rel="stylesheet" />
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
        <script src="https://unpkg.com/htmx-ext-path-params@2.0.0/path-params.js"></script>
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
</head>

<body>
        <div class="container_12">
                <div class="grid_12 title">
                        <h1>pi-vitrine</h1>
                </div>
                <div class="grid_12">
                        <div class="grid_6 alpha" hx-ext="path-params">
                                <form hx-get="/device" hx-target="#device_info">
                                        <input type="submit" value="List All Devices" />
                                </form>
                                <form class="search-container" hx-get="/device/{name}" hx-include="[name='name']"
                                        hx-target="#device_info">
                                        <input type="search" name="name" placeholder="Device name" minlength="1"
                                                required />
                                        <input type="submit" value="Get Device Info" />
                                </form>
                                <form class="search-container" hx-post="/device" hx-target="#device_info">
                                        <input type="search" name="device_name" placeholder="Device name" minlength="1"
                                                required />
                                        <input type="submit" value="Register Device" />
                                </form>
                        </div> <!-- Inputs grid -->

                        <div class="grid_6 omega" id="device_info"></div> <!-- Data display grid -->
                </div> <!-- Device part of UI -->

                <div class="grid_12 clear-row"></div>
                <div></div>

                <div class="grid_12">
                        <div class="grid_4 alpha">
                                <div hx-ext="path-params">
                                        <form hx-get="/system/{device_name}" hx-include="[device_name='device_name']"
                                                hx-target="#system_data">
                                                <input type="search" name="device_name" placeholder="Device name"
                                                        minlength="1" required />
                                                <input type="search" name="days" placeholder="Number of days" min=1
                                                        required />
                                                <input type="submit" value="Get System Data" />
                                        </form>
                                </div>
                                <div hx-ext="path-params">
                                        <form hx-get="/indoor_climate/{device_name}"
                                                hx-include="[device_name='device_name']"
                                                hx-target="#indoor_climate_fig">
                                                <input type="search" name="device_name" placeholder="Device name"
                                                        minlength="1" required />
                                                <input type="search" name="days" placeholder="Number of days" min=1
                                                        required />
                                                <input type="submit" value="Get Indoor Climate Data" />
                                        </form>
                                </div>
                        </div> <!-- System data part of UI -->
                        <div class="grid_8 omega">
                                <div id="system_data"></div>
                                <div> </div>
                                <div id="indoor_climate_fig"></div>
                        </div> <!-- Indoor Climate part of UI -->
                </div>
        </div>
</body>

</html>
