<!DOCTYPE html>
<!--
Title: list_devices.html
@brief List all of the devices within a slice of devices
-->
<div>
        <table>
                <!-- Headers -->
                <tr>
                        <th>Device Name</th>
                        <th>Created At</th>
                </tr>
                <!-- Rows of data -->
                {{ range . }} <!-- . is a slice of devices -->
                <tr>
                        <td>{{ .Name }}</td>
                        <td>{{ .CreatedAt }}</td>
                </tr>
                {{ end }}
        </table>
</div>
