@import "tailwindcss";

/* Styling for the search container */
.search-container > input[type=search]{
  @apply border border-gray-300 rounded-md p-2 w-full
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.search-container > input[type=submit]{
  @apply border border-gray-300 bg-gray-300 rounded-md p-2 w-full;
}

/* Styling for titles */
.title {
	height: 90%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title > h1 {
	display: inline-block;
	width: 250px;
        height: 100px;
	text-align: center;
}

.scroll-table > th {
  font-weight: bold;
}

.scroll-table > thead {
  position: sticky;
  top: 0;
  z-index: 1; /*keep on top of other rows*/
}

.scroll-table > tbody {
  overflow-y: auto;
  max-height: 300px; /* Adjustable */
}
