@import "tailwindcss";

/* Styling for the search container */
.search-container > input[type=search]{
  @apply border border-gray-300 rounded-md p-2 w-full
         focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.search-container > input[type=submit]{
  @apply border border-gray-300 bg-gray-300 rounded-md p-2 w-full;
}

.scroll-table > th {
  font-weight: bold;
}

.scroll-table > thead {
  position: sticky;
  top: 0;
  z-index: 1; /*keep on top of other rows*/
}

.scroll-table > tbody {
  overflow-y: auto;
  max-height: 300px; /* Adjustable */
}

.input {
    @apply w-full p-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 cursor-pointer transition;
}
