<!DOCTYPE html>
<!--
Title: home.html
@brief Client Homepage Template File
-->
<html>

<head>
	<meta name="description" content="Homepage for pi-vitrine client" />
	<meta http-equiv="author" content="Channing Ko-Madden" />
	<title>Homepage</title>
	<script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
	<h1>pi-vitrine </h1>
	<p>
		{{ .Name }}
	</p>
	<p>
		CPU Temp (C): {{ .CPUTemp }}
	</p>
	<p>
		GPU Temp (C): {{ .GPUTemp }}
	</p>
	<p>
		Distro Info: {{ .DistroInfo }}
	</p>
	<p>
		Pi Info: {{ .PiInfo }}
	</p>
	<button hx-get="/env" hx-target="#env_data">Get Env Data</button>
	<div id="env_data"></div>
</body>

</html>
